<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Sporty shoes</title>
</head>
<body>
<div align="left">
    <h2> Change password</h2>
    <form method="post" th:action="@{/manageUsers/changePassword}" th:object="${formChangePassword}">
        <table width="50%" border="0">
            <tr valign="top">
                <td width="40%">Enter old password</td>
                <td><input th:field="*{oldPassword}"></td>
                <td th:if="${#fields.hasErrors('oldPassword')}"
                    th:text="${#strings.listJoin(#fields.errors('oldPassword'), ', ')}"></td>
            </tr>

            <tr valign="top">
                <td width="40%">Enter new password</td>
                <td><input th:field="*{newPassword}"></td>
                <td th:if="${#fields.hasErrors('newPassword')}"
                    th:text="${#strings.listJoin(#fields.errors('newPassword'), ', ')}"></td>
            </tr>

            <tr valign="top">
                <td width="40%">Confirm new password</td>
                <td><input th:field="*{confirmNewPassword}"></td>
                <td th:if="${#fields.hasErrors('confirmNewPassword')}"
                    th:text="${#strings.listJoin(#fields.errors('confirmNewPassword'), ', ')}"></td>
            </tr>

            <br>

            <tr valign="top">
                <td colspan=2 width="100%">
                    <button type="submit">Change password</button>
                </td>
            </tr>
        </table>
    </form>
</div>


</body>
</html>