<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Header component</title>
</head>
<body>

<header class="masthead mb-auto" th:fragment="header">
  <div class="inner">
    <h3 class="masthead-brand">My Special header</h3>
    <nav class="nav nav-masthead justify-content-center">
      <a class="nav-link active" href="https://getbootstrap.com/docs/4.0/examples/cover/#">Home</a>
      <a class="nav-link" href="https://getbootstrap.com/docs/4.0/examples/cover/#">Features</a>
      <a class="nav-link" href="https://getbootstrap.com/docs/4.0/examples/cover/#">Contact us</a>
      <a class="nav-link" href="https://getbootstrap.com/docs/4.0/examples/cover/#">Exit</a>
    </nav>
  </div>
</header>

</body>
</html>